<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav-header"></nav>

<div th:replace="fragments :: transition"></div>

<div class="container p-3 my-3">
    <div class="row justify-content-center align-items-center">
        <h3 class="py-3 my-2 text-center" th:text="${'Add member to group: ' + party.getName()}"></h3>
        <div class="col-9 col-md-6 col-lg-4 my-2 pt-3 rounded shadow border">
    <form method="post">
            <label th:for="username">Username </label>
                <input class="form-control" th:name="username">
            <p th:if="${!usernameNotFound}" class="error form-text">username not found</p>
            <p th:if="${!isPartOfGroup}" class="error form-text">user is already a member of this group</p>

        <div class="text-center py-3">
        <input type="submit"
               class="btn btn-warning btn-lg"
               value="Add User"
        />
        </div>
    </form>
            </div>
        </div>
</div>

<script th:replace="fragments :: js"></script>
<script>
window.onload = () => {
    const transition_el = document.querySelector('.transition');
    const links = document.querySelectorAll('a');

    setTimeout(() => {
    transition_el.classList.remove('is-active');
    }, 500);

    for (let i = 0; i < links.length; i++){
        let link = links[i];

        link.addEventListener('click', e => {
            e.preventDefault();
            let target = e.target.href;

            transition_el.classList.add('is-active');

            setTimeout(() => {
                window.location.href = target;
                }, 500);

        })

    }

};
</script>
</body>
</html>