<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav-header"></nav>

<div>
    <p th:text="${'Add member to group: ' + party.getName()}"></p>
    <!--<form class="mb-3" method="post">
        <label th:for="userName" class="form-label">Please enter the username of the user you would like to add.</label>
        <input type="text"
               id="username"
               class="form-control"
               th:field="${user.username}"
        />
        <input type="submit"
               class="btn btn-warning btn-lg"
               value="Add User"
        />
    </form>-->
</div>

<script th:replace="fragments :: js"></script>
</body>
</html>