<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav-header"></nav>


<div th:replace="fragments :: transition"></div>

<div class="container p-3 my-3">
        <div class="row justify-content-center align-items-center">
    <h2 class="py-3 my-2 text-center" th:text="${'Add item to list: ' + wishList.getName()}"></h2>
            <div class="col-9 col-md-6 col-lg-4 my-2 pt-3 rounded shadow border">
    <form method="post">
    <label th:for="itemName" class="form-label">Item Name</label>
        <input type="text"
               id="itemName"
               class="form-control"
               th:field="${item.name}"
        />
        <p class="error form-text" th:errors="${item.name}"></p>
        <label th:for="itemDescription" class="form-label">Description</label>
        <input type="text"
               id="itemDescription"
               class="form-control"
               th:field="${item.description}"
        />
        <div class="text-center py-3">
        <input type="submit"
               class="btn btn-warning btn-lg"
               value="Add Item"
        />
        </div>
    </form>
                </div>
        </div>
</div>

<script th:replace="fragments :: js"></script>
<script>
window.onload = () => {
    const transition_el = document.querySelector('.transition');
    const links = document.querySelectorAll('a');

    setTimeout(() => {
    transition_el.classList.remove('is-active');
    }, 500);

    for (let i = 0; i < links.length; i++){
        let link = links[i];

        link.addEventListener('click', e => {
            e.preventDefault();
            let target = e.target.href;

            transition_el.classList.add('is-active');

            setTimeout(() => {
                window.location.href = target;
                }, 500);

        })

    }

};
</script>
</body>
</html>
