<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav-header"></nav>

<div>
    <p th:text="${'Add item to list: ' + wishList.getName()}"></p>
    <form class="mb-3" method="post">
    <label th:for="itemName" class="form-label">Item Name</label>
        <input type="text"
               id="itemName"
               class="form-control"
               th:field="${item.name}"
        />
        <p class="error" th:errors="${item.name}"></p>
        <label th:for="itemDescription" class="form-label">Description</label>
        <input type="text"
               id="itemDescription"
               class="form-control"
               th:field="${item.description}"
        />
        <input type="submit"
               class="btn btn-warning btn-lg"
               value="Add Item"
        />
    </form>
</div>

<script th:replace="fragments :: js"></script>
</body>
</html>
