<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <head th:fragment="head">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gift & Wish List Tracker</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet"  th:href="@{/css/styles.css}" />
  </head>

  <body>
    <header th:fragment="nav-header">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-xxl">
          <a href="/index" class="navbar-brand">
            <span class="fw-bold fst-italic" style="font-size: 1.7em; color: rgb(204, 41, 41)">Gift</span><span class="fw-bold fst-italic" style="font-size: 1.7em; color: rgb(48, 168, 48)">opedia</span>
          </a>
          <!-- Toggle button for mobile-friendly nav drop-down -->
          <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#main-nav"
              aria-controls="main-nav"
              aria-expanded="false"
              aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
              class="collapse navbar-collapse justify-content-end align-center"
              id="main-nav"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="/user" class="nav-link fw-bold">Main Page</a>
              </li>
              <li class="nav-item">
                <a href="/wishlists" class="nav-link fw-bold">My Lists</a>
              </li>
              <li class="nav-item">
                <a href="/party_list" class="nav-link fw-bold">My Groups</a>
              </li>
              <li class="nav-item">
                <a href="/user_details1" class="nav-link fw-bold">Account</a>
              </li>
              <li class="nav-item">
                <a href="/logout" class="ms-2 btn btn-secondary">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <script
      th:fragment="js"
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
