<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav-header"></nav>

<div>
    <form class="mb-3" method="post">
        <label for="name">Name: </label>
        <input type="text"
               id="name"
               name="name"
               class="form-control"
               th:value="${wishList.getName()}"
        />
        <p class="error" th:errors="${wishList.name}"></p>
        <label for="description">Description: </label>
        <input type="text"
               id="description"
               name="description"
               class="form-control"
               th:value="${wishList.getDescription()}"
        />

        <input
                type="submit"
                class="btn btn-warning btn-lg"
                value="Update List Details"
        />
    </form>
</div>

<script th:replace="fragments :: js"></script>
</body>
</html>
