<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: nav-header"></header>

<div class="container p-3 my-3">
    <div class="row justify-content-around align-items-center">
        <div class="col-8 col-lg-4 my-2 rounded shadow border">
            <h2 class="py-3 text-center">Log in</h2>
                <form method="post">
                    <div class="form-group">
                        <label th:for="username">Username
                            <input class="form-control" th:field="${loginFormDTO.username}">
                        </label>
                        <p class="error" th:errors="${loginFormDTO.username}"></p>
                    </div>
                    <div class="form-group">
                        <label>Password
                            <input class="form-control" th:field="${loginFormDTO.password}" type="password">
                        </label>
                            <p class="error" th:errors="${loginFormDTO.password}"></p>
                    </div>

                    <div class="text-center">
                        <p>


                        </p>
                    <input type="submit" class="btn btn-primary" value="Log in"/>
                    </div>
                </form>
            <p>




            </p>
<p class="text-center">Don't have an account? <a href="/register">Register for one!</a></p>
        </div>
    </div>
</div>
<script th:replace="fragments :: js"></script>

</body>
</html>
