<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav-header"></nav>

<div class="row justify-content-center my-4">
    <h1 class="text-center" th:text="${'Members of ' + party.getName()}"></h1>
</div>
<!-- group owner view of members -->
<div class="container" th:if="${isOwner}">
    <input type="text" id="filter" class="my-2" onkeyup="filterSelectTable()" placeholder="Filter by name">
    <form method="post">
        <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th scope="col">Select</th>
                <th scope="col">Name</th>
                <th scope="col">Wishlists</th>
            </tr>
            </thead>
            <tbody id="tbody">
            <tr th:each="member : ${members}">
                <td style="text-align: center; vertical-align: middle; width: 1% !important;"><input type="checkbox" th:name="memberId" th:value="${member.getId()}"></td>
                <td th:text="${member.getFirstName() + ' ' + member.getLastName()}"></td>
                <td align="center"> <a class="link-secondary" th:href="@{/party_list/{groupId}/members/{memberId}(groupId=${party.getId()}, memberId=${member.getId()})}">View Wishlists</a></td>
            </tr>
            </tbody>
            <tfoot>
                <tr class="spacer">
                    <td colspan="3"></td>
                </tr>
            <tr>
                <td align="left"><input type="submit"
                           class="btn btn-danger"
                           value="Remove Selected Members"/>

                </td>
                <td colspan="1"></td>
                <td align="right"><a class="btn btn-warning px-3" th:href="@{/party_list/{groupId}/add_member(groupId=${party.getId()})}">Add Member</a></td>
            </tr>
            </tfoot>
        </table>
        </div>
    </form>
</div>
<!-- non-owner view of members -->
<div class="container" th:if="${!isOwner}">
    <input type="text" id="filter-no-select" class="my-2" onkeyup="filterNoSelectTable()" placeholder="Filter by name">
    <form method="post">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="bg-info">
                    <th scope="col">Name</th>
                    <th scope="col">Wishlist</th>
                </tr>
                </thead>
                <tbody id="tbody-no-select">
                <tr th:each="member : ${members}">
                    <td th:text="${member.getFirstName() + ' ' + member.getLastName()}"></td>
                    <td align="center"> <a class="link-secondary" th:href="@{/party_list/{groupId}/members/{memberId}(groupId=${party.getId()}, memberId=${member.getId()})}">View Wishlists</a></td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="spacer">
                    <td colspan="2"></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </form>
</div>



<script th:replace="fragments :: js"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>