<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav-header"></nav>

<div class="row justify-content-center my-4">
    <h2 class="text-center">Your Groups</h2>
</div>
<div class="container">
    <input type="text" id="filter-no-select" class="my-2" onkeyup="filterNoSelectTable()" placeholder="Filter by name">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="bg-info">
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="colgroup" colspan="2">Action</th>
                </tr>
                </thead>
                <tbody id="tbody-no-select">
                <tr th:each="party : ${allParties}">
                    <td th:text="${party.getName()}"></td>
                    <td th:text="${party.getDescription()}"></td>
                    <td align="center"><a class="link-secondary" th:href="@{/party_list/{groupId}/members(groupId=${party.getId()})}">View Members</a></td>
                    <td align="center" id="leaveGroup"><a th:unless="${ownedParties.contains(party)}" class="link-secondary" th:href="@{/party_list/{groupId}/leave(groupId=${party.getId()})}">Leave Group</a></td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="spacer">
                    <td colspan="3"></td>
                </tr>
                </tfoot>
            </table>
        </div>
</div>

<div class="row justify-content-center my-4">
    <h2 class="text-center">Manage Groups You Own</h2>
</div>

<div class="container">
    <input type="text" id="filter" class="my-2" onkeyup="filterSelectTable()" placeholder="Filter by name">
    <form method="post">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="bg-info">
                    <th scope="col">Select</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="colgroup" colspan="3">Action</th>
                </tr>
                </thead>
                <tbody id="tbody">
                <tr th:each="party : ${ownedParties}">
                    <td style="text-align: center; vertical-align: middle; width: 1% !important;"><input type="checkbox" th:name="groupId" th:value="${party.getId()}"></td>
                    <td th:text="${party.getName()}"></td>
                    <td th:text="${party.getDescription()}"></td>
                    <td align="center"><a class="link-secondary" th:href="@{/party_list/{groupId}(groupId=${party.getId()})}">Edit</a></td>
                    <td align="center"><a class="link-secondary" th:href="@{/party_list/{groupId}/members(groupId=${party.getId()})}">View Members</a></td>
                    <td align="center"><a class="link-secondary" th:href="@{/party_list/{groupId}/add_member(groupId=${party.getId()})}">Add Member</a></td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="spacer">
                    <td colspan="6"></td>
                </tr>
                <tr>
                    <td colspan="2" align="left"><input type="submit"
                                                        class="btn btn-danger"
                                                        value="Delete selected Group" /></td>
                    <td colspan="2"></td>
                    <td colspan="2" align="right"><a class="btn btn-warning span2 px-3" th:href="@{/createparty}">Create New Group</a></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </form>
</div>
</body>
<script th:src="@{/js/script.js}"></script>
</html>