<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav-header"></nav>

<div th:replace="fragments :: transition"></div>

<div class="container p-3 my-3">
    <div class="row justify-content-center align-items-center">
        <h2 class="py-3 my-2 text-center">Edit Account Details</h2>
        <div class="col-9 col-md-6 col-lg-4 my-2 pt-3 rounded shadow border">
<form method="post">
    <label for="firstName">First Name: </label>
    <input type="text"
           id="firstName"
           name="firstName"
           class="form-control"
           th:value="${user.getFirstName()}"
           />

    <label for="lastName">Last Name: </label>
    <input type="text"
           id="lastName"
           name="lastName"
           class="form-control"
           th:value="${user.getLastName()}"
    />

    <label for="username">Username: </label>
    <input type="text"
           id="username"
           name="username"
           class="form-control"
           th:value="${user.getUsername()}"
    />

    <label for="email">Email: </label>
    <input type="text"
           id="email"
           name="email"
           class="form-control"
           th:value="${user.getEmail()}"
    />
            <div class="text-center py-3">
    <input
            type="submit"
            class="btn btn-warning btn-lg"
            value="Update Account Details"
    />
                </div>
</form>
            </div>
        </div>
</div>
<script th:replace="fragments :: js"></script>
<script>
window.onload = () => {
    const transition_el = document.querySelector('.transition');
    const links = document.querySelectorAll('a');

    setTimeout(() => {
    transition_el.classList.remove('is-active');
    }, 500);

    for (let i = 0; i < links.length; i++){
        let link = links[i];

        link.addEventListener('click', e => {
            e.preventDefault();
            let target = e.target.href;

            transition_el.classList.add('is-active');

            setTimeout(() => {
                window.location.href = target;
                }, 500);

        })

    }

};
</script>

</body>
</html>