<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav-header"></nav>

<div th:replace="fragments :: transition"></div>

<div class="row justify-content-center my-4">
    <h1 class="text-center">Wishlist Items</h1>
</div>
<div class="container">
    <form method="post">
        <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th scope="col">Select</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Purchased?</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td style="text-align: center; vertical-align: middle; width: 1% !important;">
                    <input type="checkbox" th:name="itemId" th:value="${item.getId()}"></td>
                <td th:text="${item.getName()}"></td>
                <td th:text="${item.getDescription()}"></td>
                <td th:if="${item.getPurchased()}">Yes</td>
                <td th:if="${!item.getPurchased()}">No</td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="spacer">
                <td colspan="3"></td>
            </tr>
            <tr>
                <td><input type="submit"
                           class="btn btn-warning"
                           value="Toggle Purchase Status" /></td>
            </tr>
            </tfoot>
        </table>
        </div>

    </form>
    </div>



<script th:replace="fragments :: js"></script>
<script>

window.onload = () => {
    const transition_el = document.querySelector('.transition');
    const links = document.querySelectorAll('a');

    setTimeout(() => {
    transition_el.classList.remove('is-active');
    }, 500);

    for (let i = 0; i < links.length; i++){
        let link = links[i];

        link.addEventListener('click', e => {
            e.preventDefault();
            let target = e.target.href;

            transition_el.classList.add('is-active');

            setTimeout(() => {
                window.location.href = target;
                }, 500);

        })

    }

};

</script>
</body>
</html>