<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav-header"></nav>
<div class="row justify-content-center my-4">
    <h1 class="text-center">My Wish Lists</h1>
</div>
<div class="container">
    <form method="post">
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th scope="col">Select</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th colspan="3" scope="colgroup">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wishlist : ${wishlists}">
            <td style="text-align: center; vertical-align: middle; width: 1% !important;">
                <input type="checkbox" th:name="wishlistid" th:value="${wishlist.getId()}"></td>
            <td th:text="${wishlist.getName()}"></td>
            <td th:text="${wishlist.getDescription()}"></td>
            <td align="center"><a class="link-secondary px-4" th:href="@{/wishlists/{id}(id=${wishlist.getId()})}">Edit</a></td>
            <td align="center"><a class="link-secondary"  th:href="@{/wishlists/{id}/items(id=${wishlist.getId()})}">View Items</a></td>
            <td align="center"><a class="link-secondary" th:href="@{/wishlists/{id}/additem(id=${wishlist.getId()})}">Add Item</a></td>
        </tr>
        </tbody>
        <tfoot>
            <tr class="spacer">
                <td colspan="6"></td>
            </tr>
            <tr>
                <td colspan="2" align="left"><input type="submit"
                           class="btn btn-danger px-3"
                           value="Delete Selected Wish Lists" /></td>
                <td colspan="2"></td>
                <td colspan="2" align="right"><a class="btn btn-warning px-3" th:href="@{/createlist}">Create New Wish List</a></td>
            </tr>
        </tfoot>
    </table>
</div>

    </form>
</div>
</body>
</html>