<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav-header"></nav>
<div>
    <form class="mb-3" method="post">
    <table class="table">
        <tr>
            <th>Select</th>
            <th>Name</th>
            <th>Description</th>
            <th colspan="3" style="text-align: center">Operation</th>
        </tr>
        <tr th:each="wishlist : ${wishlists}">
            <td><input type="checkbox" th:name="wishlistid" th:value="${wishlist.getId()}"</td>
            <td th:text="${wishlist.getName()}"></td>
            <td th:text="${wishlist.getDescription()}"></td>
            <td><a th:href="@{/wishlists/{id}(id=${wishlist.getId()})}">Edit</a></td>
            <td><a th:href="@{/wishlists/{id}/items(id=${wishlist.getId()})}">View Items</a></td>
            <td><a th:href="@{/additem}">Add Item</a></td>
        </tr>
    </table>
        <input type="submit"
               class="btn btn-danger"
               value="Delete Selected Wish Lists" />
    </form>
</div>
<a th:href="@{/createlist}">Create New Wish List</a>
</body>
</html>