<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav-header"></nav>
<div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr th:each="wishlist : ${wishlists}">
            <td th:text="${wishlist.getName()}"></td>
            <td th:text="${wishlist.getDescription()}"></td>
            <td><a th:href="@{/wishlists/{id}(id=${wishlist.getId()})}">Edit</a></td>
        </tr>
    </table>
</div>
</body>
</html>